<h1> What kind of gif would you like to see?  </h1>

  <form action='/results' method='get'>   
  	<!-- go to the app.rb and find the action that that says results -->

      <input name='gif_search' type='text' placeholder='Enter a gif here...'>
        <input type='submit' >
        <!-- value='Submit' -->

  </form>

  